git+https://git.oddbit.org/OddBit/pytest-pokie
pytest==7.1.2
pytest-testdox==3.0.1
pytest-cov==3.0.0
coverage==6.4.4
flake8==5.0.4
tox==3.26.0
setuptools>=60.0.0
mkdocs~=1.2.3
mkdocs-material==8.1.2
mkdocs-material-extensions==1.0.3